<div class="content">
    <div class="container">
        <h3>編集する</h3>
        <%= form_with(model: @lenz, local: true) do |form| %>
            <%= form.text_field :image, placeholder: "image URL" %>
            <%= form.text_field :lens_maker, placeholder: "メーカー" %>
            <%= form.text_field :lens__name, placeholder: "カメラ" %>
            <%= form.text_field :sensor_size, placeholder: "センサーサイズ" %>
            <%= form.text_field :f_number, placeholder: "f値　3.5-6.5" %>
            <%= form.text_field :focal_length, placeholder: "焦点距離 24-240" %>
            <%= form.text_field :weight, placeholder: "重量" %>
            <%= form.submit "SEND" %>
        <% end %>
    </div>
</div>