<div class="content">
    <h2 class="sub_title"><%= @nickname %>さんのページ</h2>
    <%= render partial: "relationships/follow_button", locals: {user: @user} %>
    
    <div class="container">
        <h3><%= @nickname %>さんの情報</h3>
        <div class="follow_btn">
            <p>フォロー : <%= @user.followings.count %></p>
        </div>
        <div class="follow_btn">
            <p>フォロワー : <%= @user.followers.count %></p>
        </div>
    </div>
    
    <div class="container">
        <h3><%= @nickname %>さんの投稿</h3>
        <div class="grid">
            <% @posts.each do |post| %>
                <div class="post">
                    <a href="/posts/<%= post.id %>"><img class="posted_img" src="<%= post.image %>"></a> 
                    <p class="post_p">カメラ：　<a href="/posts/search?keyword=<%= post.camera_maker %>&commit=検索"><%= post.camera_maker %></a> / <a href="/posts/search?keyword=<%= post.camera %>&commit=検索"><%= post.camera %></a></p>
                    <p class="post_p">レンズ：　<a href="/posts/search?keyword=<%= post.lens_maker %>&commit=検索"><%= post.lens_maker %></a> / <a href="/posts/search?keyword=<%= post.lens %>&commit=検索"><%= post.lens %></a></p>
                    <% if user_signed_in? && current_user.id == post.user_id || current_user&.admin? %>
                        <%= link_to '削除', post_path(post.id), method: :delete %>
                        <%= link_to '編集', edit_post_path(post.id), method: :get %>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
    <% if user_signed_in? && current_user.id == @user.id  || current_user&.admin? %>
        <div class="container">
            <h3><%= @nickname %>さん専用エリア</h3>
            <%= link_to '登録情報を編集する', edit_user_registration_path(current_user.id), method: :get %>
        </div>
   <% end %>
</div>