<div class="content">
    <div class="container">
        <h3><%= @nickname %>さんのページ</h3>
        <% if user_signed_in? && current_user.id == @user.id  || current_user&.admin? %>
            <%= link_to '登録情報を編集する', edit_user_registration_path(current_user.id), method: :get %>
        <% end %>
        <div class="grid">
            <% @posts.each do |post| %>
                <div class="post">
                    <img class="posted_img" src="<%= post.image %>">
                    <p class="post_p">カメラ：　<%= post.camera_maker %> / <%= post.camera %></p>
                    <p class="post_p">レンズ：　<%= post.lens_maker %> / <%= post.lens %></p>
                    <% if user_signed_in? && current_user.id == post.user_id %>
                        <%= link_to '詳細', post_path(post.id), method: :get %>
                        <%= link_to '削除', post_path(post.id), method: :delete %>
                        <%= link_to '編集', edit_post_path(post.id), method: :get %>
                    <% else %>
                        <%= link_to '詳細', post_path(post.id), method: :get %>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>