<div class="content">
    <h2 class="sub_title">運営からのお知らせ</h2>
    <div class="container">
        <% if current_user&.admin %>
            <%= form_with(model: @page, local: true) do |form| %>
                <%= form.text_area :twitter, placeholder: "お知らせ内容" %>
                <%= form.text_area :Date, placeholder: "日付" %>
                <%= form.submit "SEND" %>
            <% end %>
        <% end %>
        
        <div class="grid">
            <% if @pages %>
                <% @pages.each do |page| %>
                    <div class="post">
                        <div class="notice">
                           <%= page.twitter %> 
                        </div>
                        <div class="notice_date">
                            <%= page.Date %>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
 