<div class="content">
    <h2 class="sub_title"><%= @camera.camera_maker %> / <%= @camera.camera_name %> の情報</h2>
    <div class="container">
        <h3><%= @camera.camera_maker %> / <%= @camera.camera_name %> の基本情報</h3>
        <div class="show_cam">
            <div class="camera_rightside">
                <img class="posted_img" src="<%= @camera.image %>">
            </div>
            <div class="camera_center">
                <p class="post_p">カメラ：<%= @camera.camera_maker %> / <%= @camera.camera_name %> </p>
                <p class="post_p">センサー：<%= @camera.sensor_size %> / <%= @camera.pixels %>万画素 </p>
                <p class="post_p">iso：<%= @camera.iso %></p>
                <p class="post_p">重量：<%= @camera.weight %>g</p>
                <%= link_to '削除', camera_path(@camera.id), method: :delete %>
                <%= link_to '編集', edit_camera_path(@camera.id), method: :get %>
            </div>   
        </div>
    </div>
    
    <!-- review area ----------------------------------
    
    -------------------------------------------------->
    
    <div class="container">
        <h3><%= @camera.camera_maker %> / <%= @camera.camera_name %> のレビューを投稿</h3>
        <% if user_signed_in? %>
            <%= form_with(model: [@camera, @review], local: true) do |form| %>
                <div class="grid_star">
                    <div id="star_total">
                        <div class="star_left">
                            <%= form.label :total_rate, "総合評価"%>
                        </div>
                        <div class="star_right">
                            <%= form.hidden_field :total_rate, class: :review_star %>
                        </div>
                        
                         <script>
                            $('#star_total').raty({
                                size     : 36,
                                starOff:  '<%= asset_path('star-off.png') %>',
                                starOn : '<%= asset_path('star-on.png') %>',
                                starHalf: '<%= asset_path('star-half.png') %>',
                                scoreName: 'review[total_rate]',
                            });
                        </script>
                    </div>
                    <div id="star_comfort">
                        <div class="star_left">
                            <%= form.label :comfort_rate, "使い心地" %>
                        </div>
                        <div class="star_right">
                            <%= form.hidden_field :comfort_rate, class: :review_star %>
                        </div>
                        
                         <script>
                            $('#star_comfort').raty({
                                size     : 36,
                                starOff:  '<%= asset_path('star-off.png') %>',
                                starOn : '<%= asset_path('star-on.png') %>',
                                starHalf: '<%= asset_path('star-half.png') %>',
                                scoreName: 'review[comfort_rate]',
                            });
                        </script>
                    </div>
                    <div id="star_imgq">
                        <div class="star_left">
                            <%= form.label :imgquality_rate, "画質" %>
                        </div>
                        <div class="star_right">
                            <%= form.hidden_field :imgquality_rate, class: :review_star %>
                        </div>
                        
                         <script>
                            $('#star_imgq').raty({
                                size     : 36,
                                starOff:  '<%= asset_path('star-off.png') %>',
                                starOn : '<%= asset_path('star-on.png') %>',
                                starHalf: '<%= asset_path('star-half.png') %>',
                                scoreName: 'review[imgquality_rate]',
                            });
                        </script>
                    </div>
                    <div id="star_cost">
                        <div class="star_left">
                            <%= form.label :cost_rate, "コスパ" %>
                        </div>
                        <div class="star_right">
                            <%= form.hidden_field :cost_rate, class: :review_star %>
                        </div>
                        
                         <script>
                            $('#star_cost').raty({
                                size     : 36,
                                starOff:  '<%= asset_path('star-off.png') %>',
                                starOn : '<%= asset_path('star-on.png') %>',
                                starHalf: '<%= asset_path('star-half.png') %>',
                                scoreName: 'review[cost_rate]',
                            });
                        </script>
                    </div>
                </div>
                <%= form.text_area :content, placeholder: "コメントする", rows: "2" %>
                <%= form.submit "REVIEW" %>
            <% end %>
        <% else %>
        <strong><p>レビューの投稿には新規登録/ログインが必要です</p></strong>
        <% end %>
    </div>
    <div class="container">
        <h3><%= @camera.camera_maker %> / <%= @camera.camera_name %> のレビュー</h3>
        <% if @reviews %>
            <% @reviews.each do |review| %>
                <div class="review">
                    <div class="review_name">
                        <P><strong><%= link_to review.user.nickname, "/users/#{review.user_id}" %>:</strong></P>
                    </div>
                    <div class="review_stars">
                        <div id="star_total_result<%= review.id %>">総合評価　</div>
                        <script>
                              $('#star_total_result<%= review.id %>').raty({
                                size: 36,
                                starOff:  '<%= asset_path('star-off.png') %>',
                                starOn : '<%= asset_path('star-on.png') %>',
                                starHalf: '<%= asset_path('star-half.png') %>',
                                half: true,
                                score: <%= review.total_rate %>,
                                });
                        </script> 
                        
                        <div id="star_comfort_result<%= review.id %>">使い心地　</div>
                        <script>
                              $('#star_comfort_result<%= review.id %>').raty({
                                size: 36,
                                starOff:  '<%= asset_path('star-off.png') %>',
                                starOn : '<%= asset_path('star-on.png') %>',
                                starHalf: '<%= asset_path('star-half.png') %>',
                                half: true,
                                score: <%= review.comfort_rate %>,
                                });
                        </script> 
                        
                        <div id="star_imgq_result<%= review.id %>">画質　　　</div>
                        <script>
                              $('#star_imgq_result<%= review.id %>').raty({
                                size: 36,
                                starOff:  '<%= asset_path('star-off.png') %>',
                                starOn : '<%= asset_path('star-on.png') %>',
                                starHalf: '<%= asset_path('star-half.png') %>',
                                half: true,
                                score: <%= review.imgquality_rate %>,
                                });
                        </script> 
                        
                        <div id="star_cost_result<%= review.id %>">コスパ　　</div>
                        <script>
                              $('#star_cost_result<%= review.id %>').raty({
                                size: 36,
                                starOff:  '<%= asset_path('star-off.png') %>',
                                starOn : '<%= asset_path('star-on.png') %>',
                                starHalf: '<%= asset_path('star-half.png') %>',
                                half: true,
                                score: <%= review.cost_rate %>,
                                });
                        </script> 
                    </div>
                    
                    <% if user_signed_in? && current_user.id == review.user_id %>
                        <%= link_to '削除', camera_review_path(@camera, review), method: :delete %>
                    <% end %>
                </div>
                <div class="review_content">
                    <p><%= review.content %></P>
                </div>
                
            <% end %>
        <% end %>
    </div>
    
    <div class="container">
        <h3><%= @camera.camera_maker %> / <%= @camera.camera_name %> の作例</h3>
    </div>
    
</div>