<div class="content">
    <div class="container">
        <h3>編集する</h3>
        <%= form_with(model: @post, local: true) do |form| %>
            <%= form.text_field :image, placeholder: "image URL" %>
            <%= form.text_field :name, placeholder: "Nickname" %>
            <%= form.text_field :camera, placeholder: "Camera" %>
            <%= form.text_field :lens, placeholder: "Lens" %>
            <%= form.text_field :place, placeholder: "place" %>
            <%= form.text_field :time, placeholder: "time" %>
            <%= form.text_field :text, placeholder: "Comment", rows: "10" %>
            <%= form.submit "SEND" %>
        <% end %>
    </div>
</div>