<section class="section" id="section1">
    <div class="search_area">
        <h2 class="sub_title">カメラとレンズを作例とレビューから選ぶ</h2>
        <div class="search_field">
            <div class="search_left">
                <p>
                    そのカメラで</br>
                    　そのレンズで</br>
                    　　世界に何を伝えよう
                </p>
            </div>
            <div class="search_right">
                <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
                    <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
                    <%= form.submit "検索", class: "search-btn" %>
                <% end %>
            </div>
        </div>
    </div>
   
</section>

<section class="section" id="section2">
    <h2 class="sub_title">みんなの写真</h2>
    <div class="grid">
        <% @posts.each do |post| %>
            <div class="post">
                <a href="/posts/<%= post.id %>"><img class="posted_img" src="<%= post.image %>"></a> 
                <p class="post_p">投稿者：　<a href="/users/<%= post.user.id %>"><%= post.user.nickname %></a></p>
                <p class="post_p">カメラ：　<a href="/posts/search?keyword=<%= post.camera_maker %>&commit=検索"><%= post.camera_maker %></a> / <a href="/posts/search?keyword=<%= post.camera %>&commit=検索"><%= post.camera %></a></p>
                <p class="post_p">レンズ：　<a href="/posts/search?keyword=<%= post.lens_maker %>&commit=検索"><%= post.lens_maker %></a> / <a href="/posts/search?keyword=<%= post.lens %>&commit=検索"><%= post.lens %></a></p>
                <p class="post_p">カテゴリー：　<%= post.image_cat %></p>
                <% if user_signed_in? && current_user.id == post.user_id || current_user&.admin? %>
                    <%= link_to '削除', post_path(post.id), data: { confirm: "削除しますか?" }, method: :delete %>
                    <%= link_to '編集', edit_post_path(post.id), method: :get %>
                <% end %>
            </div>
        <% end %>
    </div>
    <div class="pagination">
        <%= paginate @posts %>
    </div>
        
</section>
