<section class="section" id="section1">
    <h2 class="sub_title">カメラとレンズを作例とレビューから選ぶ</h2>
    <div class="test"></div>
</section>

<section class="section" id="section2">
    <h2 class="sub_title">みんなの写真</h2>
    <div class="grid">
        <% @posts.each do |post| %>
            <div class="post">
                <img class="posted_img" src="<%= post.image %>">
                <p class="post_p"><%= post.name %></p>
                <p class="post_p"><%= post.camera %></p>
                <p class="post_p"><%= post.lens %></p>
                <%= link_to '削除', post_path(post.id), method: :delete %>
                <%= link_to '編集', edit_post_path(post.id), method: :get %>
            </div>
        <% end %>
    </div>
</section>

<section class="section" id="section3">
    <h2 class="sub_title">機材インプレ速報</h2>
</section>

<section class="section" id="section4">
    <h2 class="sub_title">運営からのお知らせ</h2>
</section>