<div class="content">
    <div class="container">
        <h3>投稿する</h3>
        <%= form_with(model: @post, local: true) do |form| %>
            <%= form.text_field :image, placeholder: "image URL" %>
            <%= form.text_field :image_cat, placeholder: "image category" %>
            <%= form.text_field :camera_maker, placeholder: "Camera maker" %>
            <%= form.text_field :camera, placeholder: "Camera" %>
            <%= form.text_field :lens, placeholder: "Lens" %>
            <%= form.text_field :lens_maker, placeholder: "Lens_maker" %>
            <%= form.text_field :place, placeholder: "place" %>
            <%= form.text_field :text, placeholder: "Comment", rows: "5" %>
            <%= form.submit "SEND" %>
        <% end %>
    </div>
</div>