<div class="content">
    <div class="show">
        
        <div class="left">
            <img class="show_img" src="<%= @post.image %>">    
        </div>
        
        <div class="right">
            <p class="post_p">撮影者：　<a href="/users/<%= @post.user.id %>"><%= @post.user.nickname %></a></p>
            <p class="post_p">カメラ：　<a href="/posts/search?keyword=<%= @post.camera_maker %>&commit=検索"><%= @post.camera_maker %></a> / <a href="/posts/search?keyword=<%= @post.camera %>&commit=検索"><%= @post.camera %></a>　<a href="/cameras/<%= @camera.id %>" class="small_btn">レビュー</a></p>
            <p class="post_p">レンズ：　<a href="/posts/search?keyword=<%= @post.lens_maker %>&commit=検索"><%= @post.lens_maker %></a> / <a href="/posts/search?keyword=<%= @post.lens %>&commit=検索"><%= @post.lens %></a>　<a href="/lenzs/<%= @lenz.id %>" class="small_btn">レビュー</a></p>
            <p class="post_p">カテゴリー：　<%= @post.image_cat %></p>
            <p class="post_p">撮影場所：　<a href="/posts/search?keyword=<%= @post.place %>&commit=検索"><%= @post.place %></a></p>
            <p class="post_p">コメント：　</br><%= @post.text %></p>
            <% if user_signed_in? && current_user.id == @post.user_id || current_user&.admin %>
                <%= link_to '削除', post_path(@post.id), method: :delete %>
                <%= link_to '編集', edit_post_path(@post.id), method: :get %>
            <% end %>
        </div>
        
    </div>
    
    <div class="container">
        <% if user_signed_in? %>
            <%= form_with(model: [@post, @comment], local: true) do |form| %>
                <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
                <%= form.submit "SEND" %>
            <% end %>
        <% else %>
        <strong><p>コメントの投稿には新規登録/ログインが必要です</p></strong>
        <% end %>
        <h4>＜コメント一覧＞</h4>
        <% if @comments %>
            <% @comments.each do |comment| %>
                <div class="comment">
                    <P><strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>:</strong>   <%= comment.text %></P>
                    <% if user_signed_in? && current_user.id == comment.user_id || current_user&.admin %>
                        <%= link_to '削除', post_comment_path(@post, comment), method: :delete %>
                        <%= link_to '編集', edit_post_comment_path(@post, comment), method: :get %>
                    <% end %>
                </div>
            <% end %>
        <% end %>
        <div class="pagination">
            <%= paginate @comments %>
        </div>
    </div>
        
</div>