<!DOCTYPE html>
<html>
  <head>
    <title>Photographers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <header id="header">
      
      <div class="heading" id="heading_id">
        <h1 class="title"><a href="/">Photographers</a></h1>
      </div>
      
      <% if user_signed_in? %>
        <div class="current_user">
          user :   <%= link_to "#{current_user.nickname}", "/users/#{current_user.id}", class: 'user_name' %>
        </div>
      <% end %>
  
      <nav id="nav_bar">
        <ul class="navi_list">  
          <li class="navi"><a href="/">top</a></li>
          <li class="navi"><a href="/cameras">カメラ一覧</a></li>
          <li class="navi"><a href="/lenzs">レンズ一覧</a></li>
          <%# <li class="navi"><a href="#section5">運営からのお知らせ</a></li> %>
        </ul>
        <ul class="navi_log">
          <% if user_signed_in? %>
            <li class="navi"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <li class="navi"><%= link_to 'マイページ', "/users/#{current_user.id}" %></li>
            <li class="navi"><%= link_to '投稿する', new_post_path %></a></li>
          <% else %>
            <li class="navi"><%= link_to 'ログイン', new_user_session_path %></li>
            <li class="navi"><%= link_to '新規登録', new_user_registration_path %></li>
          <% end %>
          
        </ul>
      </nav>
  
      <div class="toggle_btn">
        <span></span>
        <span></span>
        <span></span>
      </div>
  
      <div id="mask"></div>
  　</header>
  
    <%= yield %>
    
  <footer>
    <p>copy right photographers allright reserved</p>
  </footer>  
  
  </body>
  
</html>
